/* 背景 */
.bg {
	display:none;
    position: absolute;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
	z-index:10000;
	background-color: rgba(0, 64, 96, 0.87);
}

.video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index:10000;
	background-color: rgba(50, 50, 50, 0.8);
}


/* 内容区 */
.dialog {
	display:none;
	background: #fff;
	font-size: 16px;
	font-family:Times, "黑体";
	z-index:10002;
	width:55%;
	margin: 150px auto;
	padding:0 0 40px 0;
	letter-spacing:1px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
} 

.video-dialog {
	display:none;
	background: #fff;
	font-size: 16px;
	font-family:Times, "黑体";
	z-index:10002;
	width:55%;
	margin: 150px auto;
	padding:0 0 40px 0;
	letter-spacing:1px;
	height: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
} 

@media screen and (max-width: 960px) {
	.dialog {
		margin: 100px auto;
		padding:0 0 10px 0;
		width:75%;	
		letter-spacing:0;
	}
	.video-dialog {
		margin: 100px auto;
		width:75%;
	}
}
#login-box {
	display:none;
	margin:0 15%;
}
#register-box {
	display:none;
	margin:0 15%;
}
#lostpwd-box {
	display:none;
	margin:0 15%;
}
@media screen and (max-width: 960px) {
	#login-box {
		margin:0 10%;
	}
	#register-box {
		margin:0 10%;
	}
	#lostpwd-box {
		margin:0 10%;
	}
}
/* 登陆框 */
.dialog .backtoblog {
	position:relative;
	margin:0;
	padding:0 0 0 0;
	width:100%;
	height:40px;
}
.dialog .backtoblog span {
	float:left;
	display: block;
	margin: 10px 0 0 15px;
	padding:0 0 0 0;
	width:60px;
}
.dialog .backtoblog .log-close {
	display: block;
	position:absolute;
	top:-20px;
	right:-20px;
	width:40px;
	height:40px;
	text-indent:-9999px;
	background: url(../image/log-close.png) no-repeat 0 0;
	background-size:100% 100%;
}

.video-dialog  .backtoblog {
	position:relative;
	margin:0;
	padding:0 0 0 0;
	width:100%;
	height:40px;
}
.video-dialog  .backtoblog span {
	float:left;
	display: block;
	margin: 10px 0 0 15px;
	padding:0 0 0 0;
	width:60px;
}
.video-dialog .backtoblog .log-close {
	display: block;
	position:absolute;
	top:-20px;
	right:-20px;
	width:40px;
	height:40px;
	text-indent:-9999px;
	background: url(../image/log-close.png) no-repeat 0 0;
	background-size:100% 100%;
}

@media screen and (max-width: 960px) {
	.dialog .backtoblog {
		height:30px;
	}
	.dialog .backtoblog .log-close {
		top:-15px;
		right:-15px;
		width:30px;
		height:30px;
	}	
	.video-dialog  .backtoblog {
		height:30px;
	}
	.video-dialog .backtoblog .log-close {
		top:-15px;
		right:-15px;
		width:30px;
		height:30px;
	}
}
.backtoblog a.current {
	color:#333;
	border-bottom:2px solid #7C5C29;
}
.dialog form {
	overflow:hidden;
	font-weight:normal;
	margin:0 auto 0 auto;
	padding:0 0 0 0;
	color:#444;
	text-align:left;
}
.dialog .form-left {
	display:none;
	float:left;
	width:55%;
	letter-spacing:1px;
}
.dialog .form-left p {
	margin: 0 0 0 0;
	color:#656565;
	font-size: 16px;
	line-height: 25px;
}
.dialog .form-left p.title {
	color:#353535;
	font-size:20px;
}
.dialog .form-right {
	display:block;
	margin: 0 auto;
}
.dialog .login-title {
	clear:both;
	margin:0 auto 35px auto;
	padding:0 0 0 0;
	height:50px;
	line-height:50px;
	color:#353535;
	font-size:32px;
	text-align:center;
}
@media screen and (max-width: 960px) {
	.dialog .login-title {
		margin:0 auto 15px auto;
		padding:0 0 0 0;
		height:30px;
		line-height:30px;
		color:#353535;
		font-size:22px;
	}
}
.dialog .one-line {
	display:block;
	margin:0 auto 0 auto;
	padding:0 0 15px 0;
}
.dialog .form-right .one-line {
	margin-bottom:9px;
}
@media screen and (max-width: 960px) {
	.dialog .form-right .one-line {
		margin-bottom:0;
	}
}
.dialog .one-line a {
	color: #056596;
	cursor:pointer;
}
.dialog .one-line p {
	padding: 8px 0;
	color: #a1a0a0;
	font-size:14px;
}
.dialog .one-line input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
}
.dialog .one-line label {
	display:block;
	padding-bottom:8px;
	color: #353535;
	font-size:14px;
}
.dialog .one-line input.input{
	margin:0;
	padding:8px 10px 8px 10px;
	width:100%;
	line-height:20px;
	color:#555;
	font-size:14px;
	border:0;
	background: #FFF;
	border: 1px solid #ddd;
	outline:none;

	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@media screen and (max-width: 960px) {
	.dialog .one-line input.input{
		padding:5px 10px 5px 10px;
	}
}
.dialog .one-line i {
	display:none;
	padding-left:15px;
	line-height:30px;
	color: #999;
	font-size:14px;
	font-style:normal;
}
.dialog .one-line input.capatcha{
	width:220px;
}
.dialog .one-line img.capatcha{
	float:left;
	margin:0 0 0 10px;
	height:32px;
	cursor:pointer;
}
.dialog .submit {
	margin:0 auto 0 auto;
	padding:0 0 10px 0;
	height:40px;
}
.dialog .submit p {
	float: left;
	line-height:42px;
	color: #666;
	font-size:16px;
}
.dialog .submit .button {
	float: left;
	display:inline-block;
	margin:0 20px 0 0;
	padding: 6px 25px;
	color:#fff;
	font-size: 16px;
	font-family: Times, "黑体";
	background: #056595;
	border:0;
	cursor:pointer;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.dialog .submit input:hover.button {
	color:rgba(255, 255, 255, 0.5);
}
.dialog .others {
	overflow:hidden;
	margin:0 0 0 0;
	padding:10px 0 0 0;
	border-top:1px solid #e3e4e5;
}
.dialog .others p {
	line-height:25px;
}
.dialog .msg {
	display:none;
	overflow:hidden;
	margin:0 auto 0 auto;
	padding:0 0 10px 0;
	height:40px;
}
.dialog .btn-login {
	margin-top:20px;
}
@media screen and (max-width: 960px) {
	.dialog .btn-login {
		margin-top:0px;
	}
}
.dialog .btn-reg {
	margin-top:20px;
}
.dialog #z_Message {
	float:left;
	margin:0 0 0 15px;
	text-align: left;
}
.dialog #z_loading {
	float:left;
	margin:0 0 0 15px;
	height:22px;
	width:22px; 
	vertical-align:bottom;
}
#login_error, .message{
	-moz-border-radius:3px 3px 3px 3px;
	border-style:solid;
	border-width:1px;
	margin:0 0 16px 8px;
	padding:12px;
}

#third-box {
	margin:50px 15% 30px 15%;
}
.third-title {
    display: block;
	position:relative;
    margin-bottom: 45px;
	width: 100%;
    height: 20px;
    text-align: center;
    border-bottom: 1px solid #CCC;
}
@media screen and (max-width: 960px) {
	#third-box {
		margin:20px 10% 30px 10%;
	}
	.third-title {
		margin-bottom: 20px;
	}
}
.third-title span {
    display: inline-block;
    margin: 0;
	height: 40px;
    line-height: 40px;
	font-size: 16px;
    color: #353535;
    padding: 0 10px;
    background: #FFF;	
}
.third-login {
	text-align:center;
}
.third-login a {
	display:inline-block;
	margin: 0 30px;
	width: 50px;
	height: 50px;
	text-indent:-9999px;
	background: #FFF url(images/btn-login.png) no-repeat 0 0;
	border: 1px solid #DDDDDD;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
@media screen and (max-width: 960px) {
	.third-login a {
		margin: 0 10px;
	}
}
.third-login a:hover {
	border: 1px solid #999;
}
.third-login .btn-login-qzone {
	background-position: 0 0;
}
.third-login .btn-login-weixin {
	background-position: 0 -60px;
}