<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		
		<!--<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->		
		<script src="vue.js"></script>
	</head>
	<body>
		<div id="main_todolist">
			<input type="text" v-model="inputValue"/>
			<button v-on:click="buttonclick">提交</button>
			<ul>
				<!--<li v-for="item in list">{{item}}</li>-->
				<todoitem v-bind:content="item" v-for="item in list"></todoitem>
			</ul>
		</div>
		
		<script>
			
//			全局组件
//			Vue.component("todoitem", {
//				props:['content'],
//				template:"<li>{{content}}</li>"
//			})
			
//			vue实例
			var app = new Vue({
				el:"#main_todolist",
				data:{
					list:[],
					inputValue:''
				},
				methods:{
					buttonclick:function(){//点击事件function
						this.list.push(this.inputValue);
						this.inputValue = ""
					}
				},
				//组件
				components:{
					todoitem:{
						props:['content'],
						template:"<li>{{content}}</li>"						
					}
				}
			})
			
//			setTimeout(function(){
//				app.$data.content="change!"
//			}, 2000)
		</script>
	</body>
</html>
