/*修改头部导航分颜色*/
@media screen and (min-width: 1200px) {
#head:hover{
    background: rgba(102, 102, 102, 0.9) !important;
}
}
#navi ul li ul{
	 background: rgba(102, 102, 102, 0.9) !important;
}
#navi ul li ul li ul{
	 background: rgba(255, 255, 255, 0) !important;
}

#loginBox ul li ul{
	 background: rgba(102, 102, 102, 0.9) !important;
}
/*feature部分修改*/
.i-feature{
	background: #969696;
}
.i-feature-one:hover{
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#808080), to(rgba(51,51,51, 0.9))) !important;
}

/*产品动态字体修改*/
.nav-pills > li > a{
	color:#999 !important;
}
.button-type1::before{
	border-top-color:#999 !important;
	border-left-color:#999 !important;	
}

.button-type1::after{
	border-bottom-color:#999 !important;
	border-right-color:#999 !important;
}

.nav-pills > li > a:hover, .nav-pills > li > a:focus, .nav-pills > li > a.active{
	color:#808080 !important;
}
.nav-pills > li > a.active::before, .button-type1:hover:before, .button-type1:focus:before{
	border-top-color:#808080 !important;
	border-left-color:#808080 !important;
}

.nav-pills > li > a.active::after, .button-type1:hover:after, .button-type1:focus:after{
	border-bottom-color:#808080 !important;
	border-right-color:#808080 !important;
}

/*产品icon区*/
.i-titel em{
	color:#969696 !important;
	}
.portfolio-item figcaption{
	background: rgba(102, 102, 102, 0.9) !important;
}

/*轮播hover放大区*/
.owl-container{
	background: #808080 !important;
}

.slide-item .mask .other-shade{
	background:#969696 !important;
}
.slide-item .mask .shade{
	background:#808080 !important;
}

.slide-item:hover .shade {
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#808080), to(rgba(51,51,51, 0.9))) !important;
}

/*案例区域*/
.case ul li:hover .label_text{
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#808080), to(rgba(51,51,51, 0.9))) !important;
	/*background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(82,198,254, 0.9)), to(rgba(17,159,236, 0.95)));
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#1fb5ff), to(rgba(0,121,218, 0.7)));*/
}
/*.case ul li:hover .label_text{
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#808080), to(rgba(51,51,51, 0.9))) !important;
}*/
.label_text dt, .label_text dd {
	color:#fff !important;
}

/*侧面悬浮窗*/
.side-entry{
	background-color: rgba(102, 102, 102, 0.8) !important;
}
.side-panel-title:hover{
	color:#666 !important;
}

/*新闻帮助*/
.i-titel span.span_on{
	color:#C1C1C1 !important;
}
.i-titel span.span_split{
	border-left:2px solid #999 !important;
}
.i-titel span{
	color:#999 !important;
}
.i-news-one a:hover, .i-help-one a:hover{
	color:#999 !important;
}
/*底部*/
.i-menu{
	background: #555 !important;
}
#bottom2{
	background-color: #555 !important;
}

/*遮罩颜色*/
.bg{
	background: rgba(102, 102, 102, 0.9) !important;
}

.video-bg{
	background: rgba(102, 102, 102, 0.9) !important;
}

