@charset "utf-8";
/* CSS Document */

.pxs_container{
	background:#7e0b11 url(../images/skin/red/bg.png) repeat-y center top;
}
  .pxs_bg .pxs_bg1{
		background:url(../images/skin/red/bg2.png) repeat 0 0px;
	}
	.pxs_bg .pxs_bg2{
	    background:url(../images/skin/red/bg3.png) repeat-x 0 center;
	}