	.tablemy{
		width:92%;
		margin: 30px auto;
		text-align: center;
		color:#7f8fa4;
		/*moz-box-shadow:2px 2px 2px #A3A3A3; 
		-webkit-box-shadow:2px 2px 2px #A3A3A3; 
		box-shadow:5px 5px 5px #c1c1c1;*/
	}
	.tablemobile{width:95%;margin:0 auto;}
	@media screen and (max-width: 961px){
		.tablemy{display: none;}
	}	
	@media screen and (min-width: 960px){
		.tablemobile{display: none;}
	}
	.choosebar{
		font-size:20px;
		/*border:1px solid #E5E5E5;*/
/*		border-right: none;*/
/*		text-align: center;*/
	}
	.bot-bar{/*border-bottom: none;*/}
	.choosebar td{
		padding:10px 0;
		word-break:keep-all; /* for ie */
		white-space:nowrap; /* for chrome */
	}
	.bar-1 td{padding:10px 0 0 0;}
	@media screen and (min-width: 500px){.bar-1 td{border-top:1px solid #f4f4f4;}}
	.bar-2 td{padding:0 0 0 0;}
	/*@media screen and (max-width: 961px){.bar-2 td{padding: 0;}}*/
	.choosebar a{
		color:#7f8fa4;
		font-size:13px;
		/*border:1px solid transparent;*/
		text-decoration: none;
		margin:5px;
	}
	@media screen and (max-width: 400px){.choosebar a{margin:5px 0;}}
	.bot-bar a{
		display: inline-block;
		line-height: 18px;
/*		margin:5px;*/
	}
	.choosebar a:hover{
		color:blueviolet;
	}
	.choosebar .active{
		color:#027cdc;
		/*border-bottom: 1px solid #027cdc;*/
	}
	.hidecontiner{
		display:none;
	}
	.td-title{
		/*border-left:6px solid #1096E1;*/
		/*background: #F5F5F5;*/
		font-weight: 600;
		color:#7f8fa4;
		font-size: 15px;
		/*vertical-align: top;*/		
	}
/*@media screen and (min-width: 960px) {
	.td-title{
		width:20%;
	}
}	*/
	.td-content{
		color:#7f8fa4;
		text-align: left;
		font-size: 13px;
	}
	.td-inner{
		/*width:80%;
		margin:0 auto;*/
	}
	.content-intro{
		width:8%;
	}
/*@media screen and (min-width: 1200px) and (max-width: 1400px){
	.content-name{
		width:25%;
	}
}*/
@media screen and (min-width: 1200px){
	.content-name{
		width:30%;
	}
}
@media screen and (max-width: 501px){
	.td-titleleft{display: none;}
}	
@media screen and (min-width: 500px){
	.td-titletop{display: none;}
}
